@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  color: #3b3a3a;
}

button {
  background-color: #213555 !important;
  color: white !important;
  border: none !important;
  outline: none !important;
  height: 45px !important;
  box-shadow: none !important;
  border-radius: 2px !important;
}

button:hover {
  background-color: #4f709c !important;
}

input,
textarea,
select {
  height: 45px;
  width: 100%;
  border: 1px solid #c6c6c6;
  padding-left: 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #353535;
}

textarea {
  padding-top: 10px !important;
  min-height: 100px;
}

label {
  margin: 0 !important;
  padding: 0 !important;
  color: #353535 !important;
}

a {
  text-decoration: none !important;
  color: var(--primary) !important;
}

table {
  border: 1px solid #c7c7c7 !important;
  border-radius: 2px !important;
}

:disabled {
  opacity: 0.5;
}
